.movie-card__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.movie-card__bottom-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-radius: 0 0 8px 8px;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.btn {
  background-color: var(--color-primary);
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
