.content {
  display: flex;
  margin-top: 30px;
}

.image {
  width: 40%;
  border-radius: 8px;
}

.infoContainer {
  padding: 0 30px;
}

.infoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infoListItem {
  display: flex;
  align-items: center;
}

.infoListItem::before {
  display: block;
  align-self: flex-end;
  content: "";
  width: 15px;
  height: 2px;
  margin-right: 10px;
  background-color: rgb(194, 194, 194);
}
