header {
  height: 60px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.nav__content h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.nav__contact-container {
  display: flex;
  align-items: center;
}

.nav__contact-link {
  margin: 0 0 0 10px;
  font-size: 12px;
}
