.movie-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-score__value {
  margin: 0;
  color: #ffbb3a;
  font-size: 16px;
  font-weight: 700;
}

.movie-score__count {
  font-size: 12px;
  color: #989898;
  margin: 4px 0 10px 0;
}
